body{
    background: #468e8d;
    font-family: "微软雅黑";
}
@mixin  center {
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin  posCenter {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
}
.container{
    width:1200px;
    margin:0 auto;
    @include center();
    flex-direction: column;
    #taiji{
        // width:250px;
        // height: 250px;
        width:600px;
        height: 600px;
        background: linear-gradient(to bottom,black 0%,black 50%,white 50%,white 0%);
        border-radius: 50%;
        box-shadow: 6px 6px 27px 4px rgba(0, 0, 0, .16);
        display: flex;
        flex-direction: row;
        align-items: center;
        animation: rotate 3s linear infinite;
        @include posCenter();
        margin:auto;
        .yin,.yang{
            width: 50%;
            height: 50%;
            border-radius: 50%;
            background: black;
            @include center();
            &::before{
                content: '';
                width: 25%;
                height: 25%;
                border-radius: 50%;
                background: white;
            }
            &.yang::before{
                background: black;
            }
        }
        .yang{
            background: white;
        }
    }
    .name{
        margin-top:20px;
        color: white;
        font-weight: bold;
    }
    .gua-list,.tables{
        width: 1200px;
        padding:0;
        list-style: none;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @include posCenter();
        margin:auto;
        height: 100%;
        background: rgba(70, 142, 141,.3);
        // overflow-y: scroll;
        z-index: 2;
        .gua-item{
            // width: 200px;
            width: 133px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding:25px 0;
            cursor: pointer;
            &:hover{
                background: rgba(51, 119, 118,.6);
            }
            .gua-name{
                font-weight: bold;
                font-size: 40px;
                margin:20px auto 0;
            }
            .xiang{
                width: 50px;
                display: flex;
                flex-direction: column;
                .long{
                    width: 100%;
                    height: 5px;
                    background: #ffffff;
                    margin-bottom: 5px;
                }
                .short{
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin-bottom: 5px;
                    &::before,&::after{
                        content: "";
                        width: 45%;
                        height: 5px;
                        background: #ffffff;
                    }
                }
                &>div:nth-of-type(3n){
                    margin-bottom: 10px;
                }
                &>div:nth-of-type(6n){
                    margin-bottom: 0px;
                }
            }
        }
    }
    .tables{
        width: 800px;
        .table_item{
            width: 100px;
            height: 100px;
            @include center();
            cursor: pointer;
            &:hover{
                background: #337776;
            }
        }
    }
}

@keyframes rotate{
    to{
        transform: rotate(-360deg);
    }
}